<a href="https://colab.research.google.com/github/MAHAMAYA108/Python-basics/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

to print sth

In [ ]:
# how to print sth
print("Hello Assignment")

Hello Assignment

python indention

In [ ]:
# python indention
a=int(input())
b=int(input())
if a>b :
  print("first value is greter")
else:
  print("second value is greater")

7
20
second value is greater

python comment

In [ ]:
#python comments
''' single liner use hashtags
multiliner use triple quotation'''

' single liner use hashtags\nmultiliner use triple quotation'

python variable

In [ ]:
# python variables
x=5 #int
y="siya" #string
a=b=ab="just do it " # to show you can assign multiple values
print(x)
print(y)
print(ab)
print("what soever happens "+ a)

5
siya
just do it
what soever happens just do it

global variable

In [ ]:
# global variable
x= "wonderful"
def myfunc():
  x= "amazing"
  print("Emotional Intelligence is " + x)

myfunc()
print( "Emotional Intelligence is " + x )

Emotional Intelligence is amazing
Emotional Intelligence is wonderful

condition of global variable

In [ ]:
#condition of global variable
a="independent"
print("Women are "+a)
def myfunc(num):
  global a
  a="independent"

myfunc(a)
print ( "Women are "+ a)

Women are independent
Women are independent

types of python datatypes

In [ ]:
# datatypes

a = "variable"
b=10
c=float(20.75)
d=complex(7j)
print(b)
print(c)
print(d)

# list, tuple, range, dict, set, frozenset
e=["grow", "glow", "evolve"]
f=("grow", "glow"," evolve")
g={"grow":"glow","weight":42 }
h={"grow"," glow","evolve"}
i=frozenset({"grow","glow", "evolve"})
print(e)
print(f)
print(g)
print(h)
print(i)
# to find data type
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

#bool, bytes, bytearray, memoryview
j=True
print(j)
k=b"hello beautiful"
print(k)
l=bytearray(6)
print(l)
m=memoryview(bytes(5))
print(m)

10
20.75
7j
['grow', 'glow', 'evolve']
('grow', 'glow', ' evolve')
{'grow': 'glow', 'weight': 42}
{'evolve', ' glow', 'grow'}
frozenset({'glow', 'evolve', 'grow'})
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
True
b'hello beautiful'
bytearray(b'\x00\x00\x00\x00\x00\x00')
<memory at 0x7d46aacd16c0>

type casting/ version

In [ ]:
#type casting / conversion
#(you cannot convert complex number into another number type)
a= float(20)
b=int(1.23)
c= complex(a)
print(a)
print(b)
print(c)

20.0
1
(20+0j)

printing random number

In [ ]:
#random number
import random
print(random.randrange(1,1111))

1100

indexing, -ve indexing, range, check , change , insert items

In [ ]:
a=["grow","glow","evolve"," breathe","embrace"]
print(a)

#to acces item by indexing (starts from 0)
print(a[0])

# negetive indexing(starts from-1)
print(a[-1])

# range of indexes
print(a[1:4])
print(a[:4])
print(a[2:])

#range in -ve (second written range not included)
print(a[-4:-1])

# check if item exists
if "evolve" in a:
  print("yes, evolviing is a goal")

#change list item
a[4]="live"
print(a)

#change a range of item values
#add more items
a[2:5]=["gratitude","ceribral"]
print(a)

# insert less items
a[1:4]=[ "self love"]

# insert items
a.insert(4,"livemore")

['grow', 'glow', 'evolve', ' breathe', 'embrace']
grow
embrace
['glow', 'evolve', ' breathe']
['grow', 'glow', 'evolve', ' breathe']
['evolve', ' breathe', 'embrace']
['glow', 'evolve', ' breathe']
yes, evolviing is a goal
['grow', 'glow', 'evolve', ' breathe', 'live']
['grow', 'glow', 'gratitude', 'ceribral']

list methods

In [ ]:
#list methods
a=["bus", "car", "train"]
print(a)

# add list item to end of list
a.append("truck")
print(a)

#to insert a list at a specified index
a.insert(1,"bike")
print(a)

# extend list: to append elements from another list to the current list
b=["crane", "summo", "bicycle"]
a.extend(b)
print(a)

#sort the list
a.sort()
print(a)
#reverse the list
a.reverse()
print(a)

#return no. of elements with the specified value
print(a.count("crane"))

#returns index of the first element with specified value
print(a.index("truck"))

# remove specified item
a.remove("bicycle")
print(a)

# remove specified index
a.pop(6)
print(a)

#remove last item
a.pop()
print(a)

#delete specified index
del a[4]
print(a)

#delete first item
del a[0]
print(a)

# clear the list
a.clear()
print(a)

['bus', 'car', 'train']
['bus', 'car', 'train', 'truck']
['bus', 'bike', 'car', 'train', 'truck']
['bus', 'bike', 'car', 'train', 'truck', 'crane', 'summo', 'bicycle']
['bicycle', 'bike', 'bus', 'car', 'crane', 'summo', 'train', 'truck']
['truck', 'train', 'summo', 'crane', 'car', 'bus', 'bike', 'bicycle']
1
0
['truck', 'train', 'summo', 'crane', 'car', 'bus', 'bike']
['truck', 'train', 'summo', 'crane', 'car', 'bus']
['truck', 'train', 'summo', 'crane', 'car']
['truck', 'train', 'summo', 'crane']
['train', 'summo', 'crane']
[]

**TUPLES**

In [ ]:
a=("grow","glow","evolve"," breathe","embrace",11.11)
print(a)

#to acces item by indexing (starts from 0)
print(a[0])

# negetive indexing(starts from-1)
print(a[-1])

# range of indexes
print(a[1:4])
print(a[:4])
print(a[2:])

#range in -ve (second written range not included)
print(a[-4:-1])

# check if item exists
if "evolve" in a:
  print("yes, evolviing is a goal")

#tuples are unchangeable

#join 2 tuples
b=("pray","slay")
c=a+b
print(c)

# search for thetuple for a specific value and return the position of where it was found
x=a.index("embrace")
print(x)

# return a number of times a specified value occurs
y=a.count(11.11)
print(y)

('grow', 'glow', 'evolve', ' breathe', 'embrace', 11.11)
grow
11.11
('glow', 'evolve', ' breathe')
('grow', 'glow', 'evolve', ' breathe')
('evolve', ' breathe', 'embrace', 11.11)
('evolve', ' breathe', 'embrace')
yes, evolviing is a goal
('grow', 'glow', 'evolve', ' breathe', 'embrace', 11.11, 'pray', 'slay')
4
1

SETS

In [ ]:
myset={"grow","glow","evolve"," breathe",11.11}
print(myset)

#to determine length of set
print(len(myset))

# you cannot change set

#add item to set
myset.add("embrace")
print(myset)

#add multiple items to a set
myset.update(["pray","slay"])
print(myset)

#remove item
myset.remove("pray")
print(myset)
#item does not exist remove( )will raise an error insuch case
myset.discard("slay")
print(myset)

# joins two sets ---- use update()/union()
spaceset={"love","peace"}
myset.update(spaceset)
print(myset)

#remove last item
x=myset.pop()
print(x)
print(myset)

{' breathe', 'glow', 'grow', 11.11, 'evolve'}
5
{' breathe', 'glow', 'grow', 11.11, 'evolve', 'embrace'}
{' breathe', 'slay', 'glow', 'grow', 11.11, 'evolve', 'pray', 'embrace'}
{' breathe', 'slay', 'glow', 'grow', 11.11, 'evolve', 'embrace'}
{' breathe', 'glow', 'grow', 11.11, 'evolve', 'embrace'}
{' breathe', 'glow', 11.11, 'evolve', 'embrace', 'love', 'grow', 'peace'}
 breathe
{'glow', 11.11, 'evolve', 'embrace', 'love', 'grow', 'peace'}

DICTIONARY

In [ ]:
#DICTIONARY
office = {
    "employee1": {"name": "John Doe", "age": 30, "department": "Sales"},
    "employee2": {"name": "Jane Smith", "age": 25, "department": "Marketing"},
    "employee3": {"name": "Peter Jones", "age": 40, "department": "Engineering"}
}

# Accessing elements
print(office["employee1"])
print(office["employee1"]["name"])


# Adding elements
office["employee4"] = {"name": "Alice Brown", "age": 28, "department": "HR"}
print(office)


# Modifying elements
office["employee3"]["department"] = "Product Development"
print(office)


# Removing elements
del office["employee2"]
print(office)


# Other dictionary operations

# Checking if a key exists
print("employee1" in office)
print("employee5" in office)


# Getting all keys
print(office.keys())

# Getting all values
print(office.values())

# Getting all key-value pairs
print(office.items())

# Iterating through the dictionary
for employee_id, employee_data in office.items():
    print(f"Employee ID: {employee_id}")
    for key, value in employee_data.items():
        print(f"\t{key}: {value}")


# Clearing the dictionary
#office.clear()
#print(office) # Output: {}

# Copying the dictionary
new_office = office.copy()
print(new_office)

# Finding length of dictionary
print(len(office))

{'name': 'John Doe', 'age': 30, 'department': 'Sales'}
John Doe
{'employee1': {'name': 'John Doe', 'age': 30, 'department': 'Sales'}, 'employee2': {'name': 'Jane Smith', 'age': 25, 'department': 'Marketing'}, 'employee3': {'name': 'Peter Jones', 'age': 40, 'department': 'Engineering'}, 'employee4': {'name': 'Alice Brown', 'age': 28, 'department': 'HR'}}
{'employee1': {'name': 'John Doe', 'age': 30, 'department': 'Sales'}, 'employee2': {'name': 'Jane Smith', 'age': 25, 'department': 'Marketing'}, 'employee3': {'name': 'Peter Jones', 'age': 40, 'department': 'Product Development'}, 'employee4': {'name': 'Alice Brown', 'age': 28, 'department': 'HR'}}
{'employee1': {'name': 'John Doe', 'age': 30, 'department': 'Sales'}, 'employee3': {'name': 'Peter Jones', 'age': 40, 'department': 'Product Development'}, 'employee4': {'name': 'Alice Brown', 'age': 28, 'department': 'HR'}}
True
False
dict_keys(['employee1', 'employee3', 'employee4'])
dict_values([{'name': 'John Doe', 'age': 30, 'department': 'Sales'}, {'name': 'Peter Jones', 'age': 40, 'department': 'Product Development'}, {'name': 'Alice Brown', 'age': 28, 'department': 'HR'}])
dict_items([('employee1', {'name': 'John Doe', 'age': 30, 'department': 'Sales'}), ('employee3', {'name': 'Peter Jones', 'age': 40, 'department': 'Product Development'}), ('employee4', {'name': 'Alice Brown', 'age': 28, 'department': 'HR'})])
Employee ID: employee1
	name: John Doe
	age: 30
	department: Sales
Employee ID: employee3
	name: Peter Jones
	age: 40
	department: Product Development
Employee ID: employee4
	name: Alice Brown
	age: 28
	department: HR
{'employee1': {'name': 'John Doe', 'age': 30, 'department': 'Sales'}, 'employee3': {'name': 'Peter Jones', 'age': 40, 'department': 'Product Development'}, 'employee4': {'name': 'Alice Brown', 'age': 28, 'department': 'HR'}}
3

FILE HANDLING

In [ ]:
import os

def demo_file_operations(demofile="demo.txt"):
    # Create a demo file
    with open(demofile, "w") as f:
        f.write("This is a demo file.\n")
        f.write("This is the second line.\n")
        f.write("This is the third line.\n")


    # Open the file
    try:
        f = open(demofile, "r")
        print(f.read())
    except FileNotFoundError:
        print(f"Error: File '{demofile}' not found.")
        return

    # Open a part of the file
    f = open(demofile, "r")
    print(f.read(10)) #Reads first 10 characters
    f.close()

    # Open a file from a different location (replace with your desired path)
    different_location_file = "/content/drive/My Drive/demo_copy.txt"

    # Check if the target directory exists, if not create it
    target_directory = os.path.dirname(different_location_file)
    if not os.path.exists(target_directory):
       os.makedirs(target_directory)

    try:
      with open(demofile, "r") as source_file, open(different_location_file, "w") as dest_file:
          for line in source_file:
              dest_file.write(line)
    except Exception as e:
      print(f"An error occurred: {e}")
      return

    # Append to a file
    with open(demofile, "a") as f:
        f.write("This line is appended.\n")

    # Read the first line of the file
    with open(demofile, "r") as f:
        first_line = f.readline()
        print("First line:", first_line)

    # Read the first 3 lines of the file
    with open(demofile, "r") as f:
        first_three_lines = [next(f) for x in range(3)]
        print("First 3 lines:", first_three_lines)

    # Read the whole file line by line
    with open(demofile, "r") as f:
        for line in f:
            print("Line:", line.strip())  # strip removes trailing newlines


    # Overwrite the existing file
    with open(demofile, "w") as f:
        f.write("The file has been overwritten.\n")


    # Check if a file exists
    if os.path.exists(demofile):
        print(f"The file '{demofile}' exists.")
    else:
        print(f"The file '{demofile}' does not exist.")

#Delete file
    if os.path.exists(demofile):
       os.remove(demofile)
       print(f"The file '{demofile}' has been deleted successfully.")
    else:
       print(f"The file '{demofile}' does not exist.")


# Example usage:
demo_file_operations()

This is a demo file.
This is the second line.
This is the third line.

This is a
First line: This is a demo file.

First 3 lines: ['This is a demo file.\n', 'This is the second line.\n', 'This is the third line.\n']
Line: This is a demo file.
Line: This is the second line.
Line: This is the third line.
Line: This line is appended.
The file 'demo.txt' exists.
The file 'demo.txt' has been deleted successfully.

string handeling

In [ ]:
# string literal
my_string = "Hello, world!"
print(my_string)

# multiline strings
multiline_string = """This is a
multiline string."""
print(my_string)
print(multiline_string)

# slicing
sliced_string = my_string[7:12]
print(sliced_string)

# modifying strings
uppercase_string = my_string.upper()
print(uppercase_string)
lowercase_string = my_string.lower()
print(lowercase_string)

# remove whitespace
string_with_whitespace = "   Hello, world!   "
stripped_string = string_with_whitespace.strip()
print(stripped_string)

# replace
replaced_string = my_string.replace("world", "Python")
print(replaced_string)

# split
split_string = my_string.split(",")
print(split_string)

# capitalize
capitalized_string = my_string.capitalize()
print(capitalized_string)

# casefold
casefolded_string = my_string.casefold()
print(casefolded_string)

# combining strings and numbers (not directly possible; convert number to string first)
age = 30
combined_string = "My age is " + str(age)
print(combined_string)

# formatted strings (f-strings)
name = "Alice"
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

# using index numbers in placeholders
formatted_string_indexed = "{1} is {0} years old".format(age, name)
print(formatted_string_indexed)

# escaping characters
escaped_string = "This string contains a quote: \" and a backslash: \\"
print(escaped_string)

Hello, world!
Hello, world!
This is a
multiline string.
world
HELLO, WORLD!
hello, world!
Hello, world!
Hello, Python!
['Hello', ' world!']
Hello, world!
hello, world!
My age is 30
My name is Alice and I am 30 years old.
Alice is 30 years old
This string contains a quote: " and a backslash: \

OPERATOERS

In [ ]:
# Arithmetic Operators
x = 10
y = 5

print("Addition:", x + y)  # Output: 15
print("Subtraction:", x - y)  # Output: 5
print("Multiplication:", x * y)  # Output: 50
print("Division:", x / y)  # Output: 2.0
print("Floor Division:", x // y)  # Output: 2
print("Modulus:", x % y)  # Output: 0
print("Exponentiation:", x ** y)  # Output: 100000


# Comparison Operators
print("Equal to:", x == y)  # Output: False
print("Not equal to:", x != y)  # Output: True
print("Greater than:", x > y)  # Output: True
print("Less than:", x < y)  # Output: False
print("Greater than or equal to:", x >= y)  # Output: True
print("Less than or equal to:", x <= y)  # Output: False


# Logical Operators
a = True
b = False

print("AND:", a and b)  # Output: False
print("OR:", a or b)  # Output: True
print("NOT:", not a)  # Output: False


# Assignment Operators
x = 10
x += 5  # Equivalent to x = x + 5
print("Addition assignment:", x)  # Output: 15
x -= 2  # Equivalent to x = x - 2
print("Subtraction assignment:", x)  # Output: 13
x *= 3  # Equivalent to x = x * 3
print("Multiplication assignment:", x)  # Output: 39
x /= 4  # Equivalent to x = x / 4
print("Division assignment:", x)  # Output: 9.75
x //= 2  # Equivalent to x = x // 2
print("Floor division assignment:", x)  # Output: 4.0
x %= 3  # Equivalent to x = x % 3
print("Modulus assignment:", x)  # Output: 1.0
x **= 2  # Equivalent to x = x ** 2
print("Exponentiation assignment:",x) # Output: 1.0


# Bitwise Operators (operate on binary representations)
p = 10  # Binary: 1010
q = 4   # Binary: 0100

print("Bitwise AND:", p & q)  # Output: 0 (0000)
print("Bitwise OR:", p | q)   # Output: 14 (1110)
print("Bitwise XOR:", p ^ q)  # Output: 14 (1110)
print("Bitwise NOT:", ~p)   # Output: -11 (inverts bits)
print("Left shift:", p << 2)  # Output: 40 (shifts bits 2 positions left)
print("Right shift:", p >> 1) # Output: 5 (shifts bits 1 position right)


# Membership Operators
my_list = [1, 2, 3, 4, 5]

print("In:", 3 in my_list)  # Output: True
print("Not in:", 6 not in my_list)  # Output: True


# Identity Operators
a = 10
b = 10
c = 20
print("Is:", a is b)   # Output: True (both point to the same object in memory)
print("Is not:", a is not c)  # Output: True

LOOPS

In [ ]:
# While loop
count = 0
while count < 5:
  print(f"While loop iteration: {count}")
  count += 1

# For loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(f"For loop: {fruit}")

# For loop with else
for i in range(3):
  print(f"For loop with else: {i}")
else:
  print("For loop with else: Loop completed")

CONDITIONALS

In [ ]:
# if-else statement
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

# if-elif-else statement
y = 0
if y > 0:
    print("y is positive")
elif y < 0:
    print("y is negative")
else:
    print("y is zero")

# Nested if statements
age = 20
if age >= 18:
    print("You are an adult")
    if age >= 21:
        print("You can legally drink alcohol")
    else:
        print("You can't legally drink alcohol yet")
else:
    print("You are a minor")

# Short-hand if statement (ternary operator)
z = 15
print("z is greater than 10") if z > 10 else print("z is not greater than 10")

# Pass statement (used as a placeholder when no action is required)
if x == 10:
    pass # No action is performed here

BREAK STATEMENT

In [ ]:
# BREAK STATEMENT
for i in range(1, 29):
    if i == 20:
        break  # Exit the loop when i is 20
    print(i)

print("Loop finished")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Loop finished

In [ ]:
#code for while loop and forloop

# While loop
count = 0
while count < 5:
  print(f"While loop iteration: {count}")
  count += 1

# For loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(f"For loop: {fruit}")

While loop iteration: 0
While loop iteration: 1
While loop iteration: 2
While loop iteration: 3
While loop iteration: 4
For loop: apple
For loop: banana
For loop: cherry

In [ ]:
#  WHILE LOOP

# While loop example
count = 0
while count < 5:
  print(f"While loop iteration: {count}")
  count += 1

In [ ]:
#FOR LOOP
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(f"For loop: {fruit}")

For loop: apple
For loop: banana
For loop: cherry

In [ ]:
# NESTED LOOP

rows = int(input("Enter the number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print(" ")

Enter the number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
#continue statement
for i in range(1,10):
  if i==5:
    continue
  print(i)
  print("continue")

1
continue
2
continue
3
continue
4
continue
6
continue
7
continue
8
continue
9
continue

BUILT IN FUNCTONS

In [ ]:
x=int(input("enter a number"))
print(x)

a=3
type(3)

print(abs(-95))
print(abs(99))

print(pow(5,2))

print(min([1,2,3,4,5,6,7]))
print(max("MANIKARAN"))

enter a number4
4
95
99
25
1
R

In [ ]:
c=22/7
print(c)
print(round(c))
print(round(c,2))

3.142857142857143
3
3.14

In [ ]:
print(divmod(45,5))

(9, 0)

In [ ]:
print(bin(5))
print(oct(10))
print(hex(11))

0b101
0o12
0xb

In [ ]:
a=45
print(id(a))

print(ord("u"))
print(ord("U"))
print(ord("c"))

134068316980848
117
85
99

In [ ]:
from __future__ import unicode_literals
l=[1,2,3,4,5,6,7,8,9]
print(len(l))
print(sum(l))
print(sorted(l))
print(sorted(l,reverse=True))
help(unicode_literals)

9
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
Help on _Feature in module __future__ object:

class _Feature(builtins.object)
 |  _Feature(optionalRelease, mandatoryRelease, compiler_flag)
 |
 |  Methods defined here:
 |
 |  __init__(self, optionalRelease, mandatoryRelease, compiler_flag)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  getMandatoryRelease(self)
 |      Return release in which this feature will become mandatory.
 |
 |      This is a 5-tuple, of the same form as sys.version_info, or, if
 |      the feature was dropped, is None.
 |
 |  getOptionalRelease(self)
 |      Return first release in which this feature was recognized.
 |
 |      This is a 5-tuple, of the same form as sys.version_info.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

**built in modules**

In [ ]:
import math
x = math.sqrt(25)
y=math.pi
z = math.e


print(z)

2.718281828459045

In [ ]:
import random as ra
print(ra.random())
x= ra.randint(1,100)
print(x)

ra.shuffle(([1,2,3,4,5]))

0.9889363657379477
45

In [ ]:
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())

1733206209.0177784
time.struct_time(tm_year=2024, tm_mon=12, tm_mday=3, tm_hour=6, tm_min=10, tm_sec=9, tm_wday=1, tm_yday=338, tm_isdst=0)
Tue Dec  3 06:10:09 2024
Tue Dec  3 06:10:09 2024

In [ ]:
import os
print(os.getcwd())
print(os.listdir())

/content
['.config', 'sample_data']